version: "3"
services:
  node-red-thingml-{{{name}}}:
    image: {{{image}}}

    {{#if volumes}}
    volumes:
    {{#each volumes}}
      - {{{this}}}
    {{/each}}
    {{/if}}

    {{#if ports}}
    ports:
    {{#each ports}}
      - {{this.[0]}}:{{this.[1]}}
    {{/each}}
    {{/if}}

    {{#if environment}}
    environment:
    {{#each environment}}
      - {{{this}}}
    {{/each}}
    {{/if}}

    {{#if workingdir}}
    working_dir: {{{workingdir}}}
    {{/if}}

    {{#if commands}}
    command:
      - /bin/sh
      - -c
      - |
      {{#each commands}}
        {{{this}}}
      {{/each}}
    {{/if}}

    {{#if dockerfile}}
    build:
      context: .
      dockerfile: {{dockerfile}}
    {{/if}}
