<script type="text/x-red" data-template-name="thingml-preparedeploy-docker">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="node-red:common.label.name"></span></label>
        <input type="text" id="node-input-name" data-i18n="[placeholder]node-red:common.label.name">
    </div>

    <div class="form-row">
        <label for="node-input-servicename"><i class="fa fa-tag"></i> <span data-i18n="thingml-preparedeploy-docker.label.servicename"></span></label>
        <input type="text" id="node-input-servicename" data-i18n="[placeholder]thingml-preparedeploy-docker.label.servicename">
    </div>
    <div class="form-row">
        <label for="node-input-imagename"><i class="fa fa-tag"></i> <span data-i18n="thingml-preparedeploy-docker.label.imagename"></span></label>
        <input type="text" id="node-input-imagename" data-i18n="[placeholder]thingml-preparedeploy-docker.label.imagename">
    </div>
    <div class="form-row">
        <label for="node-input-workingdir"><i class="fa fa-tag"></i> <span data-i18n="thingml-preparedeploy-docker.label.workingdir"></span></label>
        <input type="text" id="node-input-workingdir" data-i18n="[placeholder]thingml-preparedeploy-docker.label.workingdir">
    </div>
    <div class="form-row">
        <label for="node-input-dockerfile"><i class="fa fa-tag"></i> <span data-i18n="thingml-preparedeploy-docker.label.dockerfile"></span></label>
        <input type="text" id="node-input-dockerfile" data-i18n="[placeholder]thingml-preparedeploy-docker.label.dockerfile">
    </div>

    <div class="form-row" style="margin-bottom:0;">
        <label><i class="fa fa-list"></i> <span data-i18n="thingml-preparedeploy-docker.label.ports"></span></label>
    </div>
    <div class="form-row node-input-ports-container-row">
        <ol id="node-input-ports-container"></ol>
    </div>


</script>

<script type="text/x-red" data-help-name="thingml-preparedeploy-docker">
    <p>Placeholder</p>
</script>

<script type="text/javascript">
    RED.nodes.registerType('thingml-preparedeploy-docker', {
        category: 'GeneSIS',
        color: '#fdf0c2',
        defaults: {
            name: {
                value: ""
            },
            servicename: {
                value: ""
            },
            imagename: {
                value: ""
            },
            workingdir: {
                value: ""
            },
            dockerfile: {
                value: "Dockerfile"
            },
            portsmapping: {
                value: []
            }
        },
        inputs: 1,
        inputLabels: ["trigger"],
        outputs: 1,
        icon: "thingml-docker-compose.png",
        label: function() {
            return this.name||"thingml-preparedeploy-docker";
        },
        labelStyle: function () {
            return this.name ? "node_label_italic" : "";
        },
        // inspired from 21-httpin.html
        oneditprepare: function() {
            function resizeRule(rule) {
                var newWidth = rule.width();
                rule.find('.red-ui-typedInput').typedInput("width",(newWidth-15)/2);
            }
            var portList = $("#node-input-ports-container").css('min-height','150px').css('min-width','450px').editableList({
                addItem: function(container,i,port) {
                    var row = $('<div/>').css({
                        overflow: 'hidden',
                        whiteSpace: 'nowrap'
                    }).appendTo(container);

                    var propertyName = $('<input/>',{class:"node-input-port-name",type:"text"})
                        .appendTo(row)
                        .typedInput({types:["num"]});

                    var propertyValue = $('<input/>',{class:"node-input-port-value",type:"text",style:"margin-left: 10px"})
                        .appendTo(row)
                        .typedInput({types:["num"]});
                    propertyName.typedInput('value',port[0]);
                    propertyValue.typedInput('value',port[1]);

                    resizeRule(container);
                },
                resizeItem: resizeRule,
                removable: true
            });

            if (this.portsmapping) {
                this.portsmapping.forEach(function(mapping) {
                    portList.editableList('addItem', mapping);
                });
            }
        },
        oneditsave: function() {
            var portsmapping = $("#node-input-ports-container").editableList('items');
            var node = this;
            node.portsmapping = [];
            portsmapping.each(function(i) {
                var port = $(this);
                var srcPort = Number(port.find(".node-input-port-name").typedInput('value'));
                var destPort = Number(port.find(".node-input-port-value").typedInput('value'));
                if (srcPort && destPort) {
                    node.portsmapping.push([srcPort, destPort]);
                }
            });
        },
        oneditresize: function(size) {
            var rows = $("#dialog-form>div:not(.node-input-ports-container-row)");
            var height = size.height;
            for (var i=0; i<rows.size(); i++) {
                height -= $(rows[i]).outerHeight(true);
            }
            var editorRow = $("#dialog-form>div.node-input-ports-container-row");
            height -= (parseInt(editorRow.css("marginTop"))+parseInt(editorRow.css("marginBottom")));

            $("#node-input-ports-container").editableList('height',height);
        }

    });
</script>
